---
import Layout from "../layouts/Layout.astro";
import "../styles/index.css";
---

<Layout title="Video Screen Recorder">
  <div
    style={{
      backgroundColor: "#F3F3F3",
      borderRadius: "24px",
      padding: "24px",
      display: "flex",
      gap: "24px",
      flexDirection: "column",
      alignItems: "center",
      justifyContent: "center",
      maxWidth: "700px",
    }}
  >
    <p
      style={{
        fontWeight: "bold",
        fontSize: "50px",
        margin: 0,
        textAlign: "center",
      }}
    >
      Free online video and screen recorder
    </p>
    <div style="display: flex;gap:24px">
      <button
        style={{
          padding: "16px",
          borderRadius: "16px",
          fontSize: "20px",
          cursor: "pointer",
          border: "2px solid",
        }}
      >
        <a href="/video" style="text-decoration: none;color:black"
          >Start video recording</a
        >
      </button>
      <button
        style={{
          padding: "16px",
          borderRadius: "16px",
          fontSize: "20px",
          cursor: "pointer",
          border: "2px solid",
        }}
      >
        <a href="/screen" style="text-decoration: none;color:black"
          >Start screen recording</a
        >
      </button>
    </div>
  </div>
</Layout>
